/* Reset e estilos base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Base de estilos */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
}

/* barra de navegação */
header,
.navbar {
    background-color: rgba(12, 12, 12, 0.75);
    padding-right: 25px;
}

/* logomarca da empresa*/
#logo {
    height: auto;
    max-height: 55px;
    padding-left: 15px;
}

/* conteiner que contem a imagem*/
.navbar-brand {
    padding: 0;
    padding-left: 15px;
}

/* Estilos da Navegação */
#navbar-links a {
    color: #ffffff;
    font-size: 20px;
    padding-right: 55px;
    align-items: center;
    text-decoration: none;
    position: relative;
}

/* -----seção que faz um visual em baixo de cada botão -----*/
#navbar-links a:hover,
#navbar-links a:focus {
    color: rgba(255, 255, 255, 1);
}

#navbar-links a:hover::after,
#navbar-links a:focus::after {
    content: '';
    display: block;
    border-bottom: 2px solid greenyellow;
    position: absolute;
    width: 50%;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

#navbar-links a:hover::after,
#navbar-links a:focus::after {
    transform: scaleX(1);
}

/* -----seção que faz um visual em baixo de cada botão -----*/
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

.main {
    margin: 0 auto;
}

/* Seções Principais */
.section {
    margin-top: 79px;
    margin-bottom: 10px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Seção Home */
.section:nth-child(1) {
    border-top: none;
    height: 70vh;
    background-image: url('https://images.unsplash.com/photo-1558898268-92ae44e7670e?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

/* seguradouras*/
.section:nth-child(2) {
    border-top: none;
    height: 50vh;
}

/* ... Outras Seções ... */
/* Rodapé */
.footer {
    background-color: #bcb8b8;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footer__left,
.footer__right {
    width: 48%;
}

.footer__title {
    font-size: 15px;
    margin-bottom: 10px;
}

.footer__right i {
    font-size: 24px;
}